<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulário Novo Jogo</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
 <link type="text/css" href="/css/style.css" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
<body>

<div th:replace="fragments/padraoGame :: cabecalho"></div>
        

<div class="row">
<h3 style="text-align: center; margin-top:100px; color:white;">Cadastro Jogo</h3>
    <form class="col s12" action="salvarGame" method="post">
    
      <div class="row">
        <div class="input-field col s6">
          <input name="nome" type="text" class="validate" th:value="${game?.nome}" required>
          <label for="first_name">Insira o Nome do Jogo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="palavraChave" type="text" class="validate" th:value="${game?.palavraChave}" required>
          <label for="keyword">Insira as palavras-chave</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="descricao" type="text" class="validate" th:value="${game?.descricao}" required>
          <label for="descricao">Insira a Descrição do Jogo</label>
        </div>
      </div>
    
      
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">play_arrow</i>
    <br>
    
    <!-- <th block th:include="fragments/mensagem"></th:block>-->
  </button>
    </form>
    
   </div>
  
	<!--<div th:replace="fragments/mensagem2">
	
	</div>-->
	
	
       <footer th:replace="fragments/padraoGame :: rodape"></footer> 
            
    
   
  

</body>
</html>