<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Formulário Novo Jogo</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
 <link type="text/css" href="/css/style.css" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<style>
.page-footer{

    margin-top: 45% !important;

}

.btn{
	
	background-color: darkblue !important;

}



</style>
</head>
<body>

<div th:replace="fragments/padraoJogo :: cabecalho"></div>
        

<div class="row">
<h3 style="text-align: center; margin-top:100px; color:white;">Cadastro Jogo</h3>
    <form class="col s12" action="salvarJogo" method="post" enctype="multipart/form-data" accept-charset="utf-8">
    <input type="hidden" th:value="${jogo?.id}" name="id">
      <div class="row">
        <div class="input-field col s6">
          <input name="nome" type="text" class="validate" th:value="${jogo?.nome}" required>
          <label for="first_name">Insira o Nome do Jogo</label>
        </div>
      </div>
      
      
      <div class="row">
        <div class="input-field col s6">
          <input name="descricao" type="text" class="validate" th:value="${jogo?.descricao}" required>
          <label for="descricao">Insira a Decrição Jogo</label>
        </div>
      </div>
      <div class="row">
      <label for="tipos">Selecione o Tipo do Jogo</label>
      <select class="browser-default" name="tipo.id" >
  		 <option th:each="t: ${tipos}" th:text="${t.nome}" th:value="${t.id}" th:selected="${t.id == restaurant?.tipo?.id}"></option>
    	
  	</select>
    </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="requisitos" type="text" class="validate" th:value="${jogo?.requisitos}" required>
          <label for="requisitos">Insira os Requesitos Minímos do Jogo</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="classificacao" type="text" class="validate" th:value="${jogo?.classificacao}" required>
          <label for="classificacao">Insira a Classificação do Jogo</label>
        </div>
      </div>
      <div class="file-field input-field">
      <div class="btn">
        <span>Insira as Fotos</span>
        <input type="file" multiple
        accept="image/*" name="fileFotos">
      </div>
      <div class="file-path-wrapper">
        <input  class="file-path validate" style="width:36% !important;" type="text" >
      </div>
    </div>
      <p>
      <label>
        <input type="checkbox" name="multiplayer" th:checked="${jogo?.multiplayer}" />
        <span>Tem Multiplayer?</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="crossplay" th:checked="${jogo?.crossplay}" />
        <span>Tem Crossplay?</span>
      </label>
    </p>
     <div th:if="${jogo?.fotos?.length > 0}">
     		<h6 style="color:white">Fotos Cadastradas</h6>
     	<div>
     		<ul>
     			<li th:each="foto, i : ${jogo.verFotos()}">
     			<a th:href="${foto}" target="blank"><img style="width: 150px; margin-left:2%;" th:src="${foto}" alt="imagens"></a>
     			<a th:href="@{/excluirFotoJogo(idJogo=${jogo.id}, numFoto = ${i.index})}">
     			<i class="material-icons">delete_forever</i>
     			
     			</a>
     			
     		
     		</ul>
     	
     	</div>
     </div> 
    
      
      <button class="btn waves-effect waves-light" type="submit">Enviar
    <i class="material-icons right">play_arrow</i>
    <br>
    
    <!-- <th block th:include="fragments/mensagem"></th:block>-->
  </button>
    </form>
    
   </div>
  
	<!--<div th:replace="fragments/mensagem2"></div>-->
	
	
       <footer th:replace="fragments/padraoJogo :: rodape"></footer> 
            
    
   
  

</body>
</html>