<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>GamerGuide</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <link type="text/css" href="/css/style.css" rel="stylesheet">	
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
</head>
<body>

<div th:replace="fragments/padraoJogo :: cabecalho"></div>



<section>
	<div class="formulario"  style="width:90% !important; margin-left: 5% !important;">
	  <table>
        <thead>
          <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Descrição</th>
              <th>Tipo</th>
              <th>Requesitos</th>
              <th>Classificação</th>
              <th>Crossplay</th>
              <th>Multiplayer</th>
            	
        		
              <th>Excluir</th>
              <th>Alterar</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="jogo:${jogos}">
            <td th:text="${jogo.id}"></td>
            <td th:text="${jogo.nome}"></td>
            <td th:text="${jogo.descricao}"></td>
            <td th:text="${jogo.tipo}"></td>
            <td th:text="${jogo.requisitos}"></td>
            <td th:text="${jogo.classificacao}"></td>
            <td th:text="${jogo.crossplay}"></td>
            <td th:text="${jogo.multiplayer}"></td>
            <td th:text="${jogo.fotos}"></td>
            
            
            
            <td><a th:href="@{/excluirJogo(id=${jogo.id})}">Excluir</a></td>
		<td><a th:href="@{/alterarJogo(id=${jogo.id})}">Alterar</a></td>
            
          </tr>
        
        </tbody>
      </table>
	</div>


</section>
<section>
  <ul class="pagination">
  
    <li th:class="${paginaAtual == 1 ? 'disabled' : ''}">
    <a th:href="${paginaAtual > 1 ? paginaAtual - 1 : '#'}">
    <i class="material-icons">chevron_left</i></a></li>

    <li th:each="p:${numPaginas}" th:class="${paginaAtual == p ? 'active black' : 'waves-effect'} "><a th:href="${p}"><span th:text="${p}"></span></a></li>
    
    <li th:class="${paginaAtual == totalPaginas ? 'disabled' : ''}">
    <a th:href="${paginaAtual < totalPaginas ? paginaAtual + 1 : '#'}">
    <i class="material-icons">chevron_right</i></a></li>
    
  	</ul>
  
  </section>
  
  <footer th:replace="fragments/padraoGame :: rodape"></footer>

</body>
</html>