<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Administrador</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 
 <link type="text/css" href="/css/style.css" rel="stylesheet">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	
 
 

</head>
<body>

<div th:replace="fragments/padraoAdm :: cabecalho"></div>
        

<div class="row">
<h3 style="text-align: center; margin-top:100px; color:white;">Cadastro Administrador</h3>
    <form class="col s12" action="salvarAdm" method="post">
    
      <div class="row">
        <div class="input-field col s6">
          <input name="nome" type="text" class="validate" th:value="${adm?.nome}" required>
          <label for="first_name">Insira seu nome</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="senha" type="password" class="validate" >
          <label for="password">Insira sua senha</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="email" type="email" class="validate" th:value="${adm?.email}" required>
          <label for="email">Insira teu email</label>
        </div>
      </div>
      <div class="row">
      
    
      </div>
      
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">play_arrow</i>
    <br>
    
    <!-- <th block th:include="fragments/mensagem"></th:block>-->
  </button>
    </form>
    
  </div>
  
	<div th:replace="fragments/mensagem">
	
	</div>
	
	
       <footer th:replace="fragments/padraoAdm :: rodape"></footer>
            
    
   
  

</body>
</html>